<div>
  <div>
    <h2>
      Details about {{program?.programName}} show is as follows:
    </h2>
  </div>

  <div style="font-weight: bold; font-size: 20px;">
    <span>Language: {{program?.programLanguage}}</span>
    <br>
    <span>Telecast Time: {{program?.telecastTime}}</span>
    <!--<span>Telecast Day and Time:{{program?.telecastDays}} {{program?.telecastTime}}</span>-->
    <br>
    <!--<span>Telecasted on: {{program.networkName}}</span>-->
  </div>

  <div style="font-weight: bold; font-size: 20px;">
  <!--  <span>Image: {{program?.programImage}}</span> -->
    <br>
    <span>Summary: {{program?.programSummary}}</span>
  </div>
</div>

