<div>
  <div>
    <h2>
      Details about the show <a href="{{program?.programUrl}}">{{program?.programName}}</a> below:
      <br>
      
    </h2>
  </div>

  <div style="font-weight: bold; font-size: 20px;">
    <span>Language: {{program?.programLanguage}}</span>
    <br>
    <br>
    <span>Telecasted on: {{program?.networkName}} every  {{program?.telecastDays}} @ {{program?.telecastTime}} hrs</span>
  </div>

  <div style="font-weight: bold; font-size: 20px;">
    <div>
      <img src={{program?.programImage}}>
    </div>
    <div>
      <span id="summary">Summary here!</span>
    </div>
    <div> 
      For more details, <a href="{{program?.programUrl}}">click here...</a>
    </div>
  </div>
</div>

